<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/clyde/Library/Application Support/AsciiDocHelper.xpc/Contents/MacOS/AsciiDocHelper</string>
	</array>
	<key>Label</key>
	<string>ca.bluemist2.AsciiDocHelper</string>
	<key>MachServices</key>
	<dict>
		<key>ca.bluemist2.AsciiDocHelper</key>
		<true/>
	</dict>
	<key>KeepAlive</key>
	<false/>
</dict>
</plist>
